# Node dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
.astro/
**/.astro/

# Sanity temp runtime & build
.sanity/
**/.sanity/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
